@import "../node_modules/bootstrap/scss/bootstrap.scss";

$ui-panel-h: 50px;
$ui-panel-p: ($ui-panel-h / 4);
$ui-panel-color: #333;
$ui-panel-edge-color: #666;
$play-panel-color: #222;
$ui-text-color: #f0f0f0;
$ui-text-hi-color: #f0f080;

$nibbler-bg-color: #9090ff;
$nibbler-bd-color: #fff;

div.nibbler-game {
  flex: 1;
  background-color: $play-panel-color;
  width: 100%;
  display: flex;
  align-items: center;
  div.nibbler-canvas {
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: #000;
    color: yellow;
    display: grid;
    grid-template-columns: minmax(1px, max-content) repeat(51, 1fr);
    grid-template-rows: minmax(1px, max-content) repeat(51, 1fr);
    div.nibbler-cell {
      background-color: $nibbler-bg-color;
      border: solid 2px $nibbler-bd-color;
      &.head {
        border-radius: 50%;
        border-color: red;
      }
    }
  }
}

div.nibbler-title {
  background-color: $ui-panel-color;
  height: $ui-panel-h;
  color: $ui-text-hi-color;
  width: 100%;
  text-align: center;
  h1 {
    font-weight: 400;
    font-size: ($ui-panel-h / 2);
    line-height: ($ui-panel-h - $ui-panel-p);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
}

div.nibbler-scores {
  background-color: $ui-panel-color;
  height: $ui-panel-h;
  color: $ui-text-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    min-width: 250px;
    padding: 8px 16px;
    border-right: solid 1px $ui-panel-edge-color;
    line-height: ($ui-panel-h - $ui-panel-p);
    font-size: ($ui-panel-h / 4);
  }
}
